<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huazaiki.enlistMap.mapper.SoldierMapper">

    <resultMap id="BaseResultMap" type="com.huazaiki.enlistMap.entity.po.Soldier">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="education" column="education" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="enlistmentYear" column="enlistment_year" jdbcType="INTEGER"/>
            <result property="enlistmentMonth" column="enlistment_month" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        province,education,age,
        enlistment_year,enlistment_month,create_time,
        is_deleted
    </sql>
    <select id="getRecruitCountByProvince" resultType="com.huazaiki.enlistMap.entity.vo.ProvinceRecruitVO">
        SELECT
            province,
            COUNT(*) AS recruit_count
        FROM
            soldier
        WHERE
            enlistment_year = #{year}
          AND is_deleted = 0
        GROUP BY
            province
        ORDER BY
            recruit_count DESC
    </select>
    <select id="getYearlyRecruitByProvince" resultType="java.util.Map">
        SELECT
            enlistment_year AS year,
            COUNT(*) AS recruit_count
        FROM
            soldier
        WHERE
            province = #{province}
          AND is_deleted = 0
        GROUP BY
            enlistment_year
        ORDER BY
            enlistment_year ASC
    </select>
    <select id="getEducationCount" resultType="java.util.Map">
        SELECT
            education AS name,
            COUNT(*) AS value
        FROM
            soldier
        WHERE
            province = #{province}
          AND enlistment_year = #{year}
          AND is_deleted = 0
        GROUP BY
            education;
    </select>
    <select id="getNationalRecruitByYear" resultType="java.util.Map">
        SELECT
            province AS name,
            COUNT(*) AS value
        FROM
            soldier
        WHERE
            enlistment_year = #{year}
          AND is_deleted = 0
        GROUP BY
            province;
    </select>
</mapper>
